<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Boiler Plate</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <section class="home__section-slider">
        <div class="home__test-div">
            <h1>Hi {{ name }}</h1>
        </div>
    </section>
</body>
</html>