{{> header}}
    <main class="page__main">
        <div class="block--background">
        <div class="chatbot__overview">
            <ul class="chatlist">
                <li class="bot__output bot__output--standard">Olá, eu sou o ebot!</li>
                <li class="bot__output bot__output--standard">Vou te ajudar a encontrar o que você precisa</li>
                <li class="bot__output bot__output--standard">
                    Digite <span class="bot__command">commands</span> para saber a lista de comandos
                </li>
            </ul>
        </div>
        <div class="chatbox-area">
            <form action="" id="chatform">
                <textarea placeholder="Talk to me!" class="chatbox" name="chatbox" resize: "none" minlength="2"></textarea>
                <input class="submit-button" type="submit" value="Enviar">
            </form>
        </div>
            <div class="block--background"></div>
    </main>
{{> footer}}
